<div class="cd-popup" role="alert">
	<div class="cd-popup-container">
		<div class="cd-popup-container-left">
			<div class="cd-popup-container-left-top">
				<div class="swiper popup-swiper-form">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="form-tag">立即免費領取</div>
							<div class="form-title">大師私藏設計工具</div>
							<div class="form-subtitle">超質感設計必備工具</div>
						</div>
						<div class="swiper-slide">
							<div class="form-tag">數量有限</div>
							<div class="form-title">免費設計課程大方送</div>
							<div class="form-subtitle">免費線上180堂設計全方位+線下設計體驗課程</div>
						</div>
						<div class="swiper-slide">
							<div class="form-tag">免費抽獎</div>
							<div class="form-title">大師首推必備書籍</div>
							<div class="form-subtitle">精美好禮大方抽</div>
						</div>
						<div class="swiper-slide">
							<div class="form-tag">免費抽獎</div>
							<div class="form-title">大師首推必備精華講堂</div>
							<div class="form-subtitle">精美好禮大方抽</div>
						</div>
					</div>
					<!--<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>-->
				</div>
			</div>
			<div class="cd-popup-container-left-bottom">
				<div class="swiper popup-swiper-form">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="./../common/images/PopUp/PopUp_01.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./../common/images/PopUp/PopUp_02.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./../common/images/PopUp/PopUp_03.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./../common/images/PopUp/PopUp_04.jpg" alt="">
						</div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
		<div class="cd-popup-container-right"></div>
		<a href="javascript:;" class="cd-popup-close img-replace">Close</a>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->