<div class="main-top-bar">
	<div class="main-top-bar-title">
		<a href="./../index.html" class="h2">hola!</a>
	</div>
	<div class="topnav-item">
		<div class="youtube">
			<a href="https://www.youtube.com/watch?v=nsGVX5Vhnwo" target="_blank" class="social-media-btn icon-youtube">youtube-icon</a>
			<div class="hover-text hover-text-yt">觀看節目</div>
		</div>
		<div class="gift cd-popup-trigger">
			<a href="javascript:;" class="social-media-btn icon-gift">gift-icon</a>
			<div class="hover-text hover-text-gift">抽獎</div>
		</div>
	</div>
</div>