@charset "UTF-8";
@import "./utils/_utils.scss";

// * ==========================================================================
// * Card 區塊
// * ==========================================================================

.master-card-wrap {
  display: flex;
}

.master-card {
  display: flex;
  margin-right: 56px;

  &:nth-child(3n + 3) {
    margin-right: 0;
  }

  .master-card-content {
    margin-top: auto;
    margin-bottom: 0;

    > figure {
      width: 270px;
      filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));

      @include min-width(1480px) {
        width: 270px;
      }
    }

    > span {
      display: block;
    }
  }
}

.master-card-tag {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  @include roboto-txt;
}
.master-card-info {
  color: $color-primary-3;
  font-weight: 400;
  font-size: 14px;
  @include roboto-txt;
}
.master-card-title {
  margin-top: 8px;
  display: flex;
  color: $color-primary-1;
  font-weight: 700;
  font-size: 22px;

  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    margin-right: 0.5rem;
    background-color: $color-primary-1;
  }
}

.fixed-text {
  position: absolute;
  right: 0px;
  bottom: 95px;
  font-weight: 400;
  font-size: 14px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
  @include roboto-txt;

  > span {
    color: $color-primary-1;
  }
}

// * ==========================================================================
// *  accordion手風琴 區塊
// * ==========================================================================

.section-page {
  position: relative;

  &:after {
    content: "";
    width: 312px;
    height: 94px;
    display: block;
    position: absolute;
    top: -95px;
    right: 270px;
    background: url("../images/Svg/Teacher/Pattern_1.svg") no-repeat
      center/cover;
  }
}

.accordion-page {
  display: none;

  @include min-width(1025px) {
    width: 100%;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    min-height: 68vh;
    border: 1px solid $color-black;
    transition: all 200ms ease-in-out 50ms;
    opacity: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .page {
    position: relative;
    border-right: 1px solid $color-black;
    background: $color-gray-3;
    color: $color-black;
    transition: all 200ms ease-in-out 50ms;

    &:last-child {
      border: none;
    }

    @include min-width(1025px) {
      &:hover {
        .page-tab-wrap {
          background: $color-orange-1;
        }

        .page-title {
          color: $color-white;
        }

        .page-tab {
          color: $color-white;

          &::after {
            background-color: $color-white;
          }
        }
      }
    }
  }

  .page-tab-wrap {
    width: 33px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-gray-3;
    cursor: pointer;
    transition: 0.1s;
  }

  .page-title {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -62px;
    margin-left: 0px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: $color-primary-3;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
  }

  .page-tab {
    width: 28px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    color: $color-primary-1;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    @include roboto-txt;

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 5px;
      background-color: $color-primary-1;
    }
  }

  .page-content {
    height: 100%;
    display: flex;
  }

  .default {
    width: 2.2vw;
    height: 68vh;
    color: rgba(255, 255, 255, 0);
    overflow: hidden;

    > .page-title {
      display: inline-block;
    }
    > .page-tab {
      display: inline-block;
    }

    > .page-content {
      display: none;
    }
  }

  .expand {
    height: 68vh;
    width: 100vw;
    background: $color-gray-3;
    color: rgba(255, 255, 255, 1);

    > .page-tab-wrap {
      display: none;
    }

    > .page-title {
      display: none;
    }
    > .page-tab {
      display: none;
    }
    > .page-content {
      display: flex;
    }
  }
}

.accordion-page-m {
  display: block;
  margin-top: 39px;

  @include min-width(1025px) {
    display: none;
  }
}

.accordion-page-m-item {
  border: 1px solid $color-black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

  > li {
    border-bottom: 1px solid $color-black;

    &:last-child {
      border-bottom: none;
    }

    > a {
      width: 100%;
      height: 100%;
      display: block;

      > figure {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
          margin: 0 auto;
        }
        > figcaption {
          position: absolute;
          top: 10%;

          > h3 {
            text-align: center;
            font-weight: 900;
            font-size: 20px;
            color: $color-gray-2;
            @include NotoSansTC-txt;
          }

          > h4 {
            font-weight: 500;
            font-size: 30px;
            color: $color-white;
            @include roboto-txt;
          }
        }
      }
    }
  }
}

.accordion-page-m-text {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

.accordion-page-m-info {
  margin-top: 15px;
  border: solid 1px $color-black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

// * ==========================================================================
// *  accordion手風琴內容 區塊
// * ==========================================================================

.page-content-left {
  width: 52%;
  display: flex;
  height: 100%;
}

.page-content-info {
  width: 100%;

  @include min-width(1025px) {
    width: calc(100% - 248px);
  }
}

.page-content-info-top {
  padding: 32px;
  padding-top: 56px;

  @include min-width(1025px) {
    padding: 20px 56px;
  }

  border-bottom: 1px solid $color-black;
}

.page-content-info-top-title {
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 28px;

  @include min-width(1025px) {
    height: 192px;
    margin-top: 95px;
    font-size: 32px;
  }

  &:after {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: -30px;
    left: 0px;
    background: url("../images/icon/Pattern/Message.svg") no-repeat center/cover;

    @include min-width(1025px) {
      top: -24px;
    }
  }
}

.page-content-info-top-subtitle {
  color: $color-gray-4;
  text-align: right;
  font-weight: 700;
  font-size: 33px;

  @include min-width(1025px) {
    font-size: 63px;
  }

  &.no-mtop {
    margin-top: 0;
  }
}

.page-content-photo {
  height: 100%;

  @include min-width(1025px) {
    width: 248px;
  }

  > figure {
    height: 100%;

    @include min-width(1025px) {
      border-right: 1px solid $color-black;
      border-left: 1px solid $color-black;
    }

    > img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.page-content-info-bottom {
  display: flex;
  justify-content: space-between;
  padding: 45px;
}

.page-collect-img {
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.25));
}

.page-content-info-bottom-info {
  > div {
    color: $color-primary-1;
    font-weight: 700;
    font-size: 18px;
  }
  > span {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: $color-primary-3;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      margin-right: 0.25rem;
      display: block;
      background: url("../images/icon/Pattern/Star.svg") no-repeat center/cover;
    }
  }
}

.page-content-right {
  width: 48%;
  padding: 0 45px;
}

.page-teacher-info {
  padding: 24px;
  position: relative;

  @include min-width(1025px) {
    padding: 0;
    height: 450px;
    margin-top: 88px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    width: 24px;
    height: 24px;
    display: block;
    background: url("../images/icon/Button/Arrow/Arrow-1.svg") no-repeat
      center/cover;

    @include min-width(1025px) {
      animation: nextpage 1.3s cubic-bezier(0.86, 0.04, 1, 1) infinite reverse;

      @keyframes nextpage {
        0% {
          transform: translateX(-10px);
        }
        50% {
          transform: translateX(0px);
        }
        100% {
          transform: translateX(-10px);
        }
      }
    }
  }

  &.hidden-arrow {
    &::after {
      display: none;
    }
  }
}

.page-teacher-info-title {
  display: flex;

  > span {
    margin-right: 16px;
    display: block;
    font-weight: 900;
    font-size: 20px;
    color: $color-primary-1;
    @include roboto-txt;

    @include min-width(1025px) {
      margin-top: 10px;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color-primary-1;
    }
  }

  > .h2 {
    font-weight: 900;
    font-size: 28px;
    color: $color-primary-1;
    @include NotoSansTC-txt;

    @include min-width(1025px) {
      font-size: 40px;
    }
  }
}

.page-teacher-label {
  @include min-width(1025px) {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}

.page-teacher-label-left {
  margin-top: 20px;

  @include min-width(1025px) {
    margin-top: 0;
    margin-right: 40px;
  }
}

.page-teacher-label-right {
  margin-top: 16px;

  @include min-width(1025px) {
    margin-top: 0;
  }
}

.label-text {
  font-size: 14px;
}

.page-teacher-label-title {
  color: $color-primary-3;
}

.page-teacher-label-left-name {
  font-weight: 500;
  color: $color-primary-1;
}

.page-teacher-label-right-name {
  font-weight: 500;
  color: $color-primary-1;
}

.page-teacher-experience {
  margin-top: 26px;

  > p {
    margin-top: 4px;
    text-align: justify;
    font-size: 16px;
    color: $color-gray-6;
  }
}

// * ==========================================================================
// *  講師介紹 區塊
// * ==========================================================================

.portfolio-page {
  display: none;

  @include min-width(1025px) {
    margin-top: 18px;
    position: relative;
    min-height: 68vh;
    display: flex;
    border: 1px solid $color-black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  }
}

.portfolio-page-grid1 {
  width: 100%;

  @include min-width(1025px) {
    width: 246px;
    border-right: 1px solid $color-black;
  }

  > figure {
    position: relative;
    height: 100%;

    > img {
      height: 100%;
      object-fit: cover;
    }

    > figcaption {
      position: absolute;
      top: 25px;
      left: 25px;
      color: $color-white;
      font-weight: 900;
      font-size: 18px;
      text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
      @include roboto-txt;
    }
  }
}

.portfolio-page-grid2 {
  width: 100%;

  @include min-width(1025px) {
    width: 526px;
    border-right: 1px solid $color-black;
  }

  .portfolio-page-grid2-top {
    display: flex;
  }

  .portfolio-page-grid2-top-left {
    border-right: 1px solid $color-black;
  }

  .portfolio-page-grid2-bottom {
    border-top: 1px solid $color-black;
  }

  .portfolio-page-figure {
    height: calc(100% - 245.31px);
    > figure {
      position: relative;
      height: 100%;

      > img {
        object-fit: cover;

				@include min-width(1025px) {
					height: 100%;
				}
      }
    }
  }
}

.portfolio-page-grid3 {
  width: 100%;
  text-align: center;

  @include min-width(1025px) {
    width: calc(100% - 772px);
  }

  .portfolio-page-grid3-top {
    border-bottom: 1px solid $color-black;
  }

  .portfolio-page-grid3-bottom {
    padding: 45px;
    position: relative;

    @include min-width(1025px) {
      padding-top: 70px;
      height: calc(100% - 420.44px);

      &:before {
        content: "";
        width: 84px;
        height: 74px;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background: url("../images/Svg/Teacher/Pattern_2.svg") no-repeat
          center/cover;
      }

      &:after {
        content: "";
        width: 63px;
        height: 59px;
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: url("../images/Svg/Teacher/Pattern_3.svg") no-repeat
          center/cover;
      }
    }
  }

  .portfolio-page-grid3-description {
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: $color-primary-3;
  }
}

.portfolio-page-m {
  display: block;
  border: 1px solid $color-black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

  @include min-width(1025px) {
    display: none;
  }
}

// * ==========================================================================
// *  學員介紹 區塊
// * ==========================================================================

.student-page {
  display: none;

  @include min-width(1025px) {
    margin-top: 18px;
    position: relative;
    min-height: 646px;
    display: flex;
    border: 1px solid $color-black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      width: 159px;
      height: 43px;
      display: block;
      position: absolute;
      top: -44px;
      left: 360px;
      background: url("../images/Svg/Student/Pattern_1.svg") no-repeat
        center/cover;
    }

    &:after {
      content: "";
      width: 82px;
      height: 292px;
      display: block;
      position: absolute;
      bottom: 100px;
      right: -83px;
      background: url("../images/Svg/Student/Pattern_2.svg") no-repeat
        center/cover;
    }
  }
}

.student-page-pc {
  display: none;

  @include min-width(1025px) {
    display: flex;
  }
}

.student-page-grid1 {
  display: none;

  @include min-width(1025px) {
    width: 20%;
    display: block;
    border-right: 1px solid $color-black;
  }

  > .h2 {
    display: flex;
    align-items: center;
    padding: 10px 32px 10px 14px;
    font-weight: 700;
    font-size: 20px;
    color: $color-white;
    background-color: $color-orange-1;

    &:after {
      content: "";
      width: 24px;
      height: 24px;
      margin-left: 1.25rem;
      display: block;
      background: url("../images/icon/Button/Arrow/Arrow-2.svg") no-repeat
        center/cover;
      transition: 0.1s;
    }
  }

  .student-page-grid1-item {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;

    > li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      background-color: $color-gray-3;
      border-bottom: 1px solid $color-black;

      &:last-child {
        border-bottom: none;
      }

      > a {
        height: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > .student-page-grid1-tab-top {
          > .student-avatar {
            width: 56px;
            height: 56px;
            margin-right: 10px;
            transition: 0.1s;

            &.student-avatar1 {
              background: url("../images/Student/Tap/1/Normal.png") no-repeat
                center/cover;
            }
            &.student-avatar2 {
              background: url("../images/Student/Tap/2/Normal.png") no-repeat
                center/cover;
            }
            &.student-avatar3 {
              background: url("../images/Student/Tap/3/Normal.png") no-repeat
                center/cover;
            }
          }
          > .student-page-grid1-tab-top-title {
            opacity: 0.5;
            transition: 0.1s;

            > .h3 {
              display: flex;
              align-items: center;
              font-weight: bold;
              font-size: 20px;
              color: $color-primary-1;
            }
            > span {
              font-size: 16px;
              color: $color-gray-5;
            }
          }
        }

        > .student-page-grid1-tab-bottom {
          font-weight: 400;
          font-size: 18px;
          opacity: 0.3;
          transition: 0.1s;
        }
      }

      @include min-width(1025px) {
        &:hover {
          > a {
            > .student-page-grid1-tab-top {
              > .student-avatar {
                &.student-avatar1 {
                  background: url("../images/Student/Tap/1/Hover.png") no-repeat
                    center/cover;
                }
                &.student-avatar2 {
                  background: url("../images/Student/Tap/2/Hover.png") no-repeat
                    center/cover;
                }
                &.student-avatar3 {
                  background: url("../images/Student/Tap/3/Hover.png") no-repeat
                    center/cover;
                }
              }
              > .student-page-grid1-tab-top-title {
                opacity: 1;
              }
            }

            > .student-page-grid1-tab-bottom {
              opacity: 1;
            }
          }
        }
      }

      &.current {
        background-color: $color-orange-2;

        > a {
          height: 100%;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          > .student-page-grid1-tab-top {
            > .student-avatar {
              width: 56px;
              height: 56px;
              margin-right: 10px;

              &.student-avatar1 {
                background: url("../images/Student/Tap/1/Pessed.png") no-repeat
                  center/cover;
              }
              &.student-avatar2 {
                background: url("../images/Student/Tap/2/Pessed.png") no-repeat
                  center/cover;
              }
              &.student-avatar3 {
                background: url("../images/Student/Tap/3/Pessed.png") no-repeat
                  center/cover;
              }
            }
            > .student-page-grid1-tab-top-title {
              opacity: 1;

              > .h3 {
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 20px;
                color: $color-primary-1;

                &:after {
                  content: "";
                  display: block;
                  width: 16px;
                  height: 16px;
                  margin-left: 0.5rem;
                  background: url("../images/Student/Tap/Star.svg") no-repeat
                    center/cover;
                }
              }
              > span {
                font-size: 16px;
                color: $color-gray-5;
              }
            }
          }

          > .student-page-grid1-tab-bottom {
            font-weight: 400;
            font-size: 18px;
            opacity: 1;
          }
        }
      }
    }
  }
}

.student-page-grid2 {
  width: 100%;

  @include min-width(1025px) {
    width: 40%;
    border-right: 1px solid $color-black;
  }
}

.student-page-grid2-top {
  display: flex;
  flex-direction: column;

  @include min-width(1025px) {
    flex-direction: row;
    height: 247.66px;
    border-bottom: 1px solid $color-black;
  }

  > figure {
    order: 1;

    @include min-width(1025px) {
      width: 183px;
      order: 0;
    }

    > img {
			@include min-width(1025px) {
				height: 100%;
			}
    }
  }

  .student-page-grid2-top-pc {
    display: none;

    @include min-width(1025px) {
      display: block;
    }
  }

  .student-page-grid2-top-m {
    display: block;

    @include min-width(1025px) {
      display: none;
    }
  }

  > .student-page-grid2-top-title {
    position: relative;
    padding: 56px 24px 40px 24px;

    @include min-width(1025px) {
      width: calc(100% - 183px);
      margin-top: 87px;
      padding: 0 45px;
      font-weight: 400;
      font-size: 28px;
    }

    &:after {
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      top: 24px;
      left: 24px;
      background: url("../images/icon/Pattern/Message.svg") no-repeat
        center/cover;

      @include min-width(1025px) {
        top: -24px;
        left: 45px;
      }
    }
  }
}

.student-page-grid2-bottom-subtitle {
  display: flex;
}

.student-page-grid2-bottom {
  height: calc(100% - 247.66px);
  padding: 26px 21px;

  @include min-width(1025px) {
    padding: 58px 36px;
  }
}

.student-page-grid2-bottom-subtitle-left {
  width: 40%;

  @include min-width(1025px) {
    width: auto;
    margin-right: 108px;
  }
}
.student-title {
  font-weight: 500;
  font-size: 16px;
  color: $color-primary-3;
  @include roboto-txt;
}

.student-name {
  font-weight: 700;
  font-size: 14px;
  color: $color-primary-1;

  @include min-width(1025px) {
    font-size: 16px;
  }
}

.student-page-grid2-bottom-info {
  margin-top: 35px;

  .student-info-title {
    font-weight: 500;
    font-size: 16px;
    color: $color-primary-3;
    @include roboto-txt;
  }

  > p {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 16px;
    color: $color-gray-6;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.student-page-grid3 {
  width: 100%;
	position: relative;
	z-index: 2;

  @include min-width(1025px) {
    width: 40%;
  }
}

.student-page-content-m {
  margin-top: 24px;
  display: block;
  border: 1px solid $color-black;

  @include min-width(1025px) {
    display: flex;
  }
}

.student-page-m {
  display: block;
  margin-top: 39px;
  border: 1px solid $color-black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

  > .h2 {
    padding: 12px;
    text-align: center;
    color: $color-white;
    background-color: $color-orange-1;
    font-weight: 700;
  }
}

.student-page-m-item {
  > li {
    border-bottom: 1px solid $color-black;

    &:last-child {
      border-bottom: none;
    }

    > a {
      padding: 16px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.student-page-m-list-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > figure {
    width: 56px;
    height: 56px;
  }

  .student-page-m-list-left-name {
    margin-top: 20px;

    @include min-width(1025px) {
      margin-top: 0;
    }

    > .h3 {
      margin-top: 0;
      margin-bottom: 0;
      color: $color-orange-1;
      font-size: 18px;
    }
    > span {
      display: block;
      color: $color-primary-3;
      font-size: 14px;
    }
  }
}

.student-page-m-list-right {
  > ul {
    width: 145px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    li {
      display: flex;
      align-items: center;
      position: relative;
      font-weight: 400;
      font-size: 14px;
      color: $color-gray-6;

      &:before {
        content: "";
        position: absolute;
        left: -10px;
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $color-gray-6;
      }
    }
  }
}

.student-page-hidden {
  display: block;

  @include min-width(1025px) {
    display: none;
  }
}

// * ==========================================================================
// *  講師講堂介紹 區塊
// * ==========================================================================

.lecture-page {
  margin-top: 18px;
  position: relative;
  min-height: 68vh;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

  @include min-width(1025px) {
    flex-direction: row;
  }
}

.lecture-page-grid1 {
  display: none;

  @include min-width(1025px) {
    width: 15%;
    display: block;
    border-right: 1px solid $color-black;
  }

  > .h2 {
    display: flex;
    align-items: center;
    padding: 10px 14px 10px 14px;
    font-weight: 700;
    font-size: 15px;
    color: $color-white;
    background-color: $color-orange-1;

    &:after {
      content: "";
      width: 24px;
      height: 24px;
      margin-left: 0.25rem;
      display: block;
      background: url("../images/icon/Button/Arrow/Arrow-2.svg") no-repeat
        center/cover;
      transition: 0.1s;
    }
  }

  .lecture-page-grid1-item {
    height: calc(100% - 44px);
    display: flex;
    flex-direction: column;

    > li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      background-color: $color-gray-3;
      border-bottom: 1px solid $color-black;

      &:last-child {
        border-bottom: none;
      }

      > a {
        height: 100%;
        padding: 16px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > .lecture-page-grid1-tab-top {
          opacity: 0.3;
          transition: 0.2s;

          .lecture-page-grid1-tab-top-title {
            width: 30%;
            display: flex;
            border-bottom: 1px solid $color-black;
          }

          .lecture-page-grid1-tab-top-title-right {
            font-weight: 400;
            font-size: 37px;
          }

          .lecture-page-grid1-tab-top-title-left-top {
            font-weight: 400;
            font-size: 12px;
            @include roboto-txt;
          }

          .lecture-page-grid1-tab-top-title-left-bottom {
            font-weight: 400;
            font-size: 16px;
            @include roboto-txt;
          }

          .lecture-page-grid1-tab-top-tag {
            font-weight: 700;
            font-size: 14px;
            color: $color-primary-1;
          }
        }

        > .lecture-page-grid1-tab-bottom {
          font-weight: 400;
          font-size: 14px;
          opacity: 0.3;
          transition: 0.1s;
        }
      }

      @include min-width(1025px) {
        &:hover {
          > a {
            > .lecture-page-grid1-tab-top {
              transform: translateY(90px);
              opacity: 1;
            }

            > .lecture-page-grid1-tab-bottom {
              opacity: 0;
            }
          }
        }
      }

			&:nth-child(1){
				&.current {
					background: url("../images/Lecture/1/Pessed.jpg") no-repeat center/cover;
				}
			}
			&:nth-child(2){
				&.current {
					background: url("../images/Lecture/2/Pessed-2.jpg") no-repeat center/cover;
				}
			}
			&:nth-child(3){
				&.current {
					background: url("../images/Lecture/3/Pessed-3.jpg") no-repeat center/cover;
				}
			}

      &.current {

        > a {
          height: 100%;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          > .lecture-page-grid1-tab-top {
            opacity: 1;
            transform: translateY(0px);

            .lecture-page-grid1-tab-top-title {
              width: 30%;
              display: flex;
              border-bottom: 1px solid $color-black;
            }

            .lecture-page-grid1-tab-top-title-left {
            }

            .lecture-page-grid1-tab-top-title-right {
              font-weight: 400;
              font-size: 37px;
            }

            .lecture-page-grid1-tab-top-title-left-top {
              font-weight: 400;
              font-size: 12px;
              @include roboto-txt;
            }

            .lecture-page-grid1-tab-top-title-left-bottom {
              font-weight: 400;
              font-size: 16px;
              @include roboto-txt;
            }

            .lecture-page-grid1-tab-top-tag {
              font-weight: 700;
              font-size: 14px;
              color: $color-primary-1;
            }
          }

          > .lecture-page-grid1-tab-bottom {
            font-weight: 400;
            font-size: 14px;
            opacity: 1;
          }
        }
      }
    }
  }
}

.lecture-page-grid-photo {


	@include min-width(1025px) {
		width: 15%;
		border-right: 1px solid $color-black;
	}

  > figure {
    height: 100%;

    > img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.lecture-page-grid-photo-pc {
  display: none;

  @include min-width(1025px) {
    display: block;
  }
}

.lecture-page-grid-photo-m {
  display: block;

  @include min-width(1025px) {
    display: none;
  }
}

.lecture-page-grid2 {
 

	@include min-width(1025px) {
		width: 30%;
		border-right: 1px solid $color-black;
  }
}
.lecture-page-grid2-top {
	padding: 21px;
	border-top: 1px solid $color-black;
	border-bottom: 1px solid $color-black;

	@include min-width(1025px) {
		padding: 54px;
		border-top: none;
	}

  > .lecture-page-grid2-top-tag {
    margin-left: 1.5rem;
    position: relative;
    padding: 5px 7px;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    color: $color-orange-1;
    background-color: $color-white;
    border: 1px solid $color-orange-1;
    border-radius: 3px;

    &:after {
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      top: 0;
      left: -30px;
      background: url("../images/icon/Pattern/Message.svg") no-repeat
        center/cover;
    }
  }

  > .lecture-page-grid2-top-title {
    margin-top: 0.5rem;
    font-weight: 900;
    font-size: 28px;
    color: $color-primary-1;
    @include NotoSansTC-txt;
  }

  > span {
    display: block;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 15px;
    color: $color-primary-3;
  }
}

.lecture-page-grid2-bottom {
  padding: 21px;

	@include min-width(1025px) {
		padding: 54px;
	}

  > .lecture-page-grid2-bottom-title {
    display: flex;

    > .lecture-page-grid2-bottom-title-left {
      margin-right: 54px;
    }

    .lecture-page-grid2-bottom-title-left-title {
      font-weight: 500;
      font-size: 16px;
      color: $color-primary-3;
      @include roboto-txt;
    }

    .lecture-page-grid2-bottom-title-left-name {
      font-weight: 700;
      font-size: 16px;
      color: $color-primary-1;
      @include roboto-txt;
    }
  }

  > .lecture-page-grid2-bottom-subtitle {
    margin-top: 24px;

    .lecture-page-grid2-bottom-subtitle-title {
      font-weight: 500;
      font-size: 16px;
      color: $color-primary-3;
      @include roboto-txt;
    }

    .lecture-page-grid2-bottom-subtitle-name {
      font-weight: 700;
      font-size: 16px;
      color: $color-primary-1;
      @include roboto-txt;
    }
  }

  > .lecture-page-grid2-bottom-content {
    margin-top: 24px;

    .lecture-page-grid2-bottom-content-title {
      font-weight: 500;
      font-size: 16px;
      color: $color-primary-3;
      @include roboto-txt;
    }

    .lecture-page-grid2-bottom-content-name {
      font-weight: 700;
      font-size: 16px;
      color: $color-primary-1;
      @include roboto-txt;
    }
  }
}

.lecture-page-grid3 {
	border-top: 1px solid $color-black;

	@include min-width(1025px) {
		width: 40%;
		border-top: none;
	}

  > figure {
    &.lecture-page-grid3-1 {
			display: none;


			@include min-width(1025px) {
				height: 346px;
				border-bottom: 1px solid $color-black;
				display: block;
			}
    }

    &.lecture-page-grid3-2 {
      display: none;

			@include min-width(1025px) {
				height: calc(100% - 346px);
				display: block;
			}
    }

		&.lecture-page-grid3-3 {
			height: 208px;
      display: block;
			border-bottom: 1px solid $color-black;

			@include min-width(1025px) {
				display: none;
			}
    }

		&.lecture-page-grid3-4 {
			height: 146px;
      display: block;

			@include min-width(1025px) {
				display: none;
			}
    }

    > img {
      width: 100%;
      height: 100%;
			object-fit: cover;
    }
  }
}

.lecture-page-m {
  display: block;
  margin-top: 39px;
  border: 1px solid $color-black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

  > .h2 {
    padding: 12px;
    text-align: center;
    color: $color-white;
    background-color: $color-orange-1;
    font-weight: 700;
    font-size: 16px;
  }
}

.lecture-page-m-item {
  > li {
    border-bottom: 1px solid $color-black;

    &:last-child {
      border-bottom: none;
    }

    > a {
      display: flex;
      justify-content: space-between;

      > figure {
        position: relative;

        > figcaption {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 16px;
        }
      }
    }
  }
}

.lecture-page-m-info {
  display: flex;
  justify-content: space-between;
}

.lecture-page-m-info-left {
  width: 30%;
}

.lecture-page-m-info-left-top {
  display: flex;
  border-bottom: 1px solid $color-black;
}

.lecture-page-m-info-left-top-left {
  margin-right: 12px;
}

.lecture-page-m-info-left-top-left-top {
  font-size: 12px;
}

.lecture-page-m-info-left-top-left-bottom {
  font-size: 14px;
}

.lecture-page-m-info-left-top-right {
  font-weight: 400;
  font-size: 37px;
  line-height: 37px;
  @include roboto-txt;
}

.lecture-page-m-info-left-tag {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  color: $color-orange-1;
}

.lecture-page-m-info-right {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .lecture-page-m-info-right-subtitle {
    text-align: right;
    font-size: 16px;
  }
}

.lecture-page-hidden {
  display: none;

  @include min-width(1025px) {
    display: flex;
  }
}

.lecture-page-hidden-m {
  display: block;

  @include min-width(1025px) {
    display: none;
  }
}

// * ==========================================================================
// *  講師講堂介紹 區塊
// * ==========================================================================

.lottery-page {
  margin-top: 54px;
  display: block;
  position: relative;
  min-height: 68vh;

  @include min-width(1025px) {
    display: flex;
  }
}

.lottery-page-left {
  width: 100%;

  @include min-width(1025px) {
    width: 50%;
  }
}

.lottery-page-left-top {
  > .h2 {
    display: inline-block;
    position: relative;
    font-weight: 900;
    font-size: 24px;
    color: $color-primary-1;
    @include NotoSansTC-txt;

    @include min-width(1025px) {
      font-size: 28px;
    }

    &:after {
      content: "";
      width: 66px;
      height: 32px;
      position: absolute;
      top: -30px;
      right: -30px;
      display: block;
      background: url("../images/Lottery/Pop_01.svg") no-repeat center/cover;

      @include min-width(1025px) {
        right: -55px;
      }
    }
  }
  > span {
    margin-top: 5px;
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: $color-primary-3;
  }
}

.lottery-page-left-bottom {
  > ul {
    margin-top: 55px;
    margin-left: 20px;

    @include min-width(1025px) {
      display: flex;
      margin-left: 0;
    }

    > li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 32px;

      @include min-width(1025px) {
        width: 33.33%;
        margin-right: 70px;
        margin-bottom: 0;
        display: block;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      > figure {
        width: 30%;
        margin-right: 40px;

        @include min-width(1025px) {
          width: auto;
          margin-right: 0;
        }
      }

      > figcaption {
        margin-top: 20px;

        .figcaption-title {
          font-weight: 400;
          font-size: 16px;
          color: $color-primary-1;
        }

        .figcaption-subtitle {
          font-weight: 400;
          font-size: 18px;
          color: $color-gray-6;
        }
      }
    }
  }
}

.lottery-page-right {
  width: 100%;
  margin-left: 0;
  margin-top: 60px;

  @include min-width(1025px) {
    width: 50%;
    margin-left: 82px;
    margin-top: 0;
  }
}

.lottery-page-right-top {
  > .h2 {
    display: inline-block;
    position: relative;
    font-weight: 900;
    font-size: 24px;
    color: $color-primary-1;
    @include NotoSansTC-txt;

    @include min-width(1025px) {
      font-size: 28px;
    }

    &:after {
      content: "";
      width: 49px;
      height: 32px;
      position: absolute;
      top: -30px;
      right: -20px;
      display: block;
      background: url("../images/Lottery/Pop_02.svg") no-repeat center/cover;

      @include min-width(1025px) {
        right: -35px;
      }
    }
  }
  > span {
    margin-top: 5px;
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: $color-primary-3;
  }
}

.lottery-page-right-bottom {
  margin-top: 33px;

  > figure {
    border-radius: 10px;

    > img {
      border-radius: 10px;
    }
  }

  > figcaption {
    margin-top: 32px;

    .figcaption-title {
      font-weight: 400;
      font-size: 20px;
      color: $color-primary-1;
    }

    .figcaption-subtitle {
      font-weight: 400;
      font-size: 16px;
      color: $color-gray-6;
    }
  }
}

// * ==========================================================================
// *  教學影片 區塊
// * ==========================================================================

.video-page {
  display: flex;
  flex-direction: column;

  @include min-width(1025px) {
    flex-direction: row;
  }
}
