@charset "UTF-8";
@import "./utils/_utils.scss";


  // * ==========================================================================
  // * 主要內容區域（#main 裡面的基本樣式）
  // * ==========================================================================

  #main {
    // padding-top: 100px;
    // padding-bottom: 100px;
    position: relative;
    // height: 100%;

    // 單頁式網站的主要內容區塊
    &.anchor-main {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  // * ==========================================================================
  // * 頁面外圍控制整體布局寬度
  // * ==========================================================================

  .wrap {
    width: calc(100% - 40px);
		height: calc(100% - 137px);
    max-width: 1440px;
    margin: auto;
  }

  // * ==========================================================================
  // * 標題
  // * ==========================================================================



  // * ==========================================================================
  // * 功能按鈕區塊
  // * ==========================================================================


  // * ==========================================================================
  // * 字級縮放
  // * ==========================================================================


  // * ==========================================================================
  // * 內文區塊
  // * ==========================================================================

 

  // * ==========================================================================
  // * 單頁式網站的區塊
  // * ==========================================================================


