@charset "UTF-8";
@import "./utils/_utils.scss";

@mixin content($language) {
  // * ==========================================================================
  // * 主要內容區域（#main 裡面的基本樣式）
  // * ==========================================================================

  #main {
    // padding-top: 100px;
    // padding-bottom: 100px;
    position: relative;
    // height: 100%;

    // 單頁式網站的主要內容區塊
    &.anchor-main {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  // * ==========================================================================
  // * 頁面外圍控制整體布局寬度
  // * ==========================================================================

  .wrap {
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: auto;
  }

  // * ==========================================================================
  // * 標題
  // * ==========================================================================

  .title-zone {
    text-align: center;
  }

  .title {
    display: inline-block;
    color: $color-primary-2;
    font-size: 2.5rem;
    font-weight: bold;

    @if $language == en {
      letter-spacing: 0px;

      @include min-width(768px) {
        font-size: 2rem;
      }
    }

    @include min-width(768px) {
      font-size: 3rem;

      &::before,
      &::after {
        content: "";
        width: 100px;
        height: 2px;
        display: inline-block;
        vertical-align: middle;
        background-color: $color-primary-2;
      }

      &::before {
        margin-right: 20px;
      }

      &::after {
        margin-left: 20px;
      }
    }

    @include max-width(767px) {
      margin-top: 0px;
    }
  }

  // * ==========================================================================
  // * 功能按鈕區塊
  // * ==========================================================================

  .navbar {
    display: none;

    @include min-width(1025px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
    }
  }

  .features {
    display: flex;

    @at-root .no-js & {
      display: none;
    }
  }

  // * ==========================================================================
  // * 字級縮放
  // * ==========================================================================

  .fontsize {
    display: flex;
    align-items: center;

    @include exclude-content {
      list-style: none;
      padding-left: 0px;
      margin-bottom: 0px;
    }
  }

  .fontsize-btn {
    width: 45px;
    height: 45px;
    display: block;
    margin-left: 10px;
    border-radius: 100%;
    text-decoration: none;
    color: $color-white;
    background: {
      color: $color-primary-1;
      repeat: no-repeat;
      position: center;
      size: contain;
    }

    @include hidetext;

    &.fontsize-btn-plus {
      background-image: url("../images/icon/font-plus.svg");
    }

    &.fontsize-btn-dec {
      background-image: url("../images/icon/font-dec.svg");
    }
  }

  // * ==========================================================================
  // * 內文區塊
  // * ==========================================================================

  #content {
    font-size: 1.25rem;
    line-height: 1.8em;
    color: $color-primary-2;

    @if $language == en {
      letter-spacing: 0px;
    } @else {
      letter-spacing: 0.5px;
    }

    p {
      color: inherit;

      @if $language == en {
        text-align: left;
      } @else if $language == jp {
        text-align: justify;

        @include hack-ie {
          text-justify: distribute;
        }
      } @else {
        text-align: justify;

        @include hack-ie {
          text-justify: distribute;
        }
      }
    }

    ul {
      list-style: disc;
      padding-left: 2em;
      margin-bottom: 1rem;
    }

    ol {
      list-style: decimal;
      padding-left: 2em;
      margin-bottom: 1rem;
    }

    img {
      max-width: 100%;
      display: block;
      margin: {
        left: auto;
        right: auto;
        bottom: 1rem;
      }
    }
  }

  // * ==========================================================================
  // * 單頁式網站的區塊
  // * ==========================================================================

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
    outline: none;
  }

  #section-1 {
    background-color: $color-white;
  }

  #section-2 {
    background-color: $color-primary-3;
  }

  #section-3 {
    background-color: $color-white;
  }

  #section-4 {
    background-color: $color-primary-3;
  }
}
