// * ==========================================================================
// * popup  表單彈窗
// * ==========================================================================

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 10;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  display: flex;
  position: relative;
  width: 90%;
  max-width: 1053px;
  height: 673px;
  margin: 4em auto;
  border: 1px solid $color-black;
  background: $color-white;
  text-align: center;
  transform: translateY(100%);
  -webkit-backface-visibility: hidden;
  transition-property: transform;
  transition-duration: 0.3s;

  //LEFT
  .cd-popup-container-left {
    width: 50%;
    height: 100%;
    border-right: 1px solid $color-black;
  }

  //LEFT TOP
  .cd-popup-container-left-top {
    padding: 37px;
    background-color: $color-orange-1;
  }

  .form-tag {
    padding: 3px 5px;
    display: inline-block;
    background-color: $color-white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    color: $color-orange-1;
  }

  .form-title {
    font-weight: 900;
    font-size: 30px;
    color: $color-white;
    @include NotoSansTC-txt;
  }

  .form-subtitle {
    font-weight: 400;
    font-size: 20px;
    color: $color-white;
  }

  //LEFT BOTTOM
  .cd-popup-container-left-bottom {
    position: relative;
    margin-top: 2rem;
  }

  //RIGHT
  .cd-popup-container-right {
    width: 50%;
    padding: 32px 65px 54px 65px;
  }

  .cd-popup-container-right-top {
  }

  .cd-popup-container-right-top-title {
    font-weight: 400;
    font-size: 26px;
    color: $color-gray-6;
  }

  .cd-popup-container-right-top-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: $color-gray-5;
  }

  //表單
  .cd-popup-container-right-bottom {
    margin-top: 18px;

    fieldset {
      margin-top: 12px;
    }

		select,
    .fieldset-input {
      width: 100%;
      height: 50px;
      padding: 0 12.5px;
      display: block;
      line-height: 50px;
      background: #f5f5f5;
      border-radius: 10px;
      color: #aaa;
      font-size: 16px;
      transition-duration: 0.3s;

      &:hover {
        background: #fafafa;
        border-color: #e1e1e1;
        color: #969696;
      }
    }

    .select-form {
      display: flex;
    }

    .select-form-block {
      width: 50%;
      height: 50px;
      padding: 0 12.5px;
      font-size: 16px;
      display: block;
      line-height: 50px;
      color: #aaa;
      background: #f5f5f5;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    .fieldset-title {
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      color: $color-gray-5;
    }

    .privacy-text {
      font-weight: 400;
      font-size: 16px;
      color: #757575;

      > a {
        text-decoration: underline;
        color: #ed6d34;
      }
    }

		.btn-submit-wrap{
			position: relative;
			cursor: pointer;

			&:after {
				content: "";
				width: 24px;
        height: 24px;
				position: absolute;
				top: 50%;
				right: 140px;
				margin-top: -12px;
        margin-left: 0.5rem;
        display: block;
        background: url("../images/icon/Button/Arrow/Arrow-2.svg") no-repeat
          center/cover;
			}
		}

		.btn-submit{
			margin: 0 auto;
			margin-top: 24px;
			padding: 7px 51px;
			border-radius: 5px;
			background-color: #E0E0E0;
		}
  }
}

//關閉X按鈕
.cd-popup-close {
  position: absolute;
  top: 31px;
  right: 28px;
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 29px;
  height: 2px;
  background-color: $color-primary-1;
}
.cd-popup-close {
  &::before {
    transform: rotate(45deg);
    left: 1px;
  }
}
.cd-popup-close {
  &::after {
    transform: rotate(-45deg);
    right: 1px;
  }
}

.is-visible .cd-popup-container {
  transform: translateY(10%);
}
