@charset "UTF-8";
@import "./utils/_utils.scss";

// * ==========================================================================
// * Index 區塊
// * ==========================================================================

.main-top-bar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  @include min-width(1025px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &.main-top-bar-border-b {
    border-bottom: 1px solid $color-gray;
    padding-bottom: 20px;

    @include min-width(1025px) {
      padding-bottom: 40px;
    }
  }
}

.main-top-bar-title {
  > .h2 {
    width: 144px;
    height: 54px;
    display: block;
    background: url("../images/icon/Logo/Normal.svg") no-repeat center/cover;
    transition: 0.1s;
    @include hidetext;

    @include min-width(1025px) {
      &:hover {
        background: url("../images/icon/Logo/Hover.svg") no-repeat center/cover;
      }
    }
  }

  .label {
    display: none;

    @include min-width(1025px) {
      display: block;
      margin-top: 35px;
      padding: 0.2rem;
      border: 2px solid $color-primary-1;
      border-radius: 5px;
      color: $color-primary-1;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.main-top-bar-title-center {
  order: 2;
	margin-top: 26px;

  @include min-width(1025px) {
    order: 1;
		margin-top: 0;
  }

  @include min-width(1480px) {
    width: 830px;
  }

  @include min-width(1660px) {
    width: 900px;
  }
}

.index-title {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;

  @include min-width(1025px) {
    width: 480px;
		height: 72px;
  }

	@include min-width(1200px) {
    width: 550px;
		height: 72px;
  }

  @include min-width(1440px) {
    width: 700px;
		height: 100px;
  }

  @include min-width(1660px) {
    width: 750px;
  }

  > figure {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}

.index-title-m{
	width: 420px;
	height: 50px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #fff;
	background: url("../images/Svg/Title/1.svg") no-repeat center/cover;
	font-size: 0rem;
	text-indent: -9999px;
	overflow: hidden;

	@include min-width(1025px) {
    display: none;
  }
}

.index-title-hidden {
  display: none;

  @include min-width(1025px) {
    display: block;
  }
}

.index-subtitle {
  width: 100%;
  height: 47px;
	margin-top: 10px;
  position: relative;
  overflow: hidden;
  display: block;
  font-weight: bold;
  font-size: 32px;

	@include min-width(1025px) {
		margin-top: 0;
		height: 40px;
	}

	@include min-width(1200px) {
		height: 44px;
	}

	@include min-width(1440px) {
		height: 47px;
	}

	@include min-width(1660px) {
		height: 50px;
	}

  > .slide1 {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 285px;
    left: 0;
    margin: 0 auto;
    color: $color-primary-3;
    font-size: 16px;

    @include min-width(1025px) {
      width: 480px;
      padding-left: 2.5rem;
      font-size: 20px;
    }

		@include min-width(1200px) {
      width: 550px;
      padding-left: 3rem;
      font-size: 24px;
    }

		@include min-width(1440px) {
      width: 550px;
      padding-left: 2.5rem;
      font-size: 28px;
    }

		@include min-width(1660px) {
      padding-left: 1rem;
			font-size: 32px;
    }

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      left: 10px;
      display: block;
      background: url("../images/icon/Pattern/Star.svg") no-repeat center/cover;

      @include min-width(1025px) {
        left: 10px;
        bottom: 14px;
      }

			@include min-width(1200px) {
				left: 10px;
			}

			@include min-width(1440px) {
				left: 10px;
			}

			@include min-width(1660px) {
				left: -30px;
			}
    }
  }
}

.master-content {
  display: none;

	@include min-width(1025px) {
		width: 100%;
		height: 400px;
    display: flex;
    position: relative;
    overflow: hidden;
	}

	@include min-width(1200px) {
		height: 480px;
	}

  @include min-width(1440px) {
    height: 595px;
  }

  > .slide2 {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

//動畫
.in {
  animation: comein 1s 1;
  animation-fill-mode: both;
}

@keyframes comein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// * ==========================================================================
// * Index 內容
// * ==========================================================================
.main-content {
  width: 100%;
  display: flex;
}

//左邊區塊
.main-content-left {
  width: 100%;

  @include min-width(1025px) {
		width: 200px;
  }

	@include min-width(1200px) {
		width: 240px;
  }

  @include min-width(1440px) {
    width: 280px;
  }

  @include min-width(1660px) {
    width: 330px;
  }
}

.main-content-left-border {
  @include min-width(1025px) {
    border-right: 1px solid $color-gray;
  }
}

.main-content-left-text {
  color: $color-gray-2;
  font-weight: 400;
  font-size: 15px;

	@include min-width(1025px) {
		font-size: 14px;
	}

	@include min-width(1440px) {
		font-size: 18px;
	}
}

.main-content-left-text2 {
  display: flex;

  @include min-width(1025px) {
    display: block;
    margin-top: 2.75rem;
  }
}

.text-date-title {
  @include roboto-txt;
  font-size: 24px;

  @include min-width(1025px) {
    font-size: 45px;
  }

	@include min-width(1440px) {
    font-size: 65px;
  }

	@include min-width(1660px) {
    font-size: 85px;
  }

	>span{
		display: inline-block;
		color: $color-primary-1;

		@include min-width(1025px) {
			display: none;
		}
	}
}

.text-date-subtitle {
  font-weight: 400;
  font-size: 24px;

  @include min-width(1025px) {
		display: flex;
		align-items: center;
    font-size: 16px;
  }

	@include min-width(1440px) {
    display: block;
		font-size: 24px;
  }

	@include min-width(1660px) {
		font-size: 32px;
  }

  > span {
		font-weight: 700;
		color: $color-primary-1;
    @include roboto-txt;

		@include min-width(1025px) {
			margin-right: 0.5rem;
			font-weight: 400;
			font-size: 24px;
			color: $color-black;
		}

		@include min-width(1440px) {
			margin-right: 0;
			font-size: 32px;
		}

    &:last-child {
      display: none;

			@include min-width(1025px) {
				display: block;
				font-weight: 100;
				font-size: 16px;
			}

      @include min-width(1440px) {
        font-weight: 200;
        font-size: 21px;
      }
    }
  }
}

.text-video-title {
	text-align: center;
  font-size: 14px;
  letter-spacing: 3px;
	color: $color-gray-5;

	@include min-width(1025px) {
		text-align: left;
		color: $color-black;
	}

	@include min-width(1440px) {
		font-weight: 400;
		font-size: 18px;
	}

	>span{
		display: inline-block;
		color: $color-gray-5;

		@include min-width(1025px) {
			display: block;
			color: $color-black;
		}
	}
}

//右邊區塊
.main-content-right {
  width: calc(100% - 330px);

  @include min-width(960px) {
  }

  @include min-width(1025px) {
    width: calc(100% - 200px);
  }

	@include min-width(1200px) {
    width: calc(100% - 240px);
  }

  @include min-width(1440px) {
    width: calc(100% - 280px);
  }

  @include min-width(1660px) {
    width: calc(100% - 330px);
  }
}
