@charset "UTF-8";
@import "./utils/_utils.scss";

// * ==========================================================================
// * Index 區塊
// * ==========================================================================

.main-top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;

	&.main-top-bar-border-b{
		border-bottom: 1px solid $color-gray;
		padding-bottom: 40px;
	}
}

.main-top-bar-title {
  > .h2 {
    width: 144px;
    height: 54px;
		display: block;
    background: url("../images/icon/Logo/Normal.svg") no-repeat center/cover;
		transition: 0.1s;
    @include hidetext;

		@include min-width(1025px) {
			&:hover{
				background: url("../images/icon/Logo/Hover.svg") no-repeat center/cover;
			}
		}
  }

  .label {
    margin-top: 35px;
    padding: 0.2rem;
    border: 2px solid $color-primary-1;
    border-radius: 5px;
    color: $color-primary-1;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }
}

.main-top-bar-title-center {
}

.index-title {
  width: 806px;
	height: 81px;
  position: relative;
  overflow: hidden;

  > figure {
		width: 100%;
		height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

		>img{
			width: 100%;
			height: 100%;
		}
  }
}

.index-subtitle{
	width: 100%;
	height: 50px;
  position: relative;
  overflow: hidden;
	display: block;
	font-weight: bold;
	font-size: 32px;

	>.slide1{
		width: 550px;
		height: 100%;
		padding-left: 1rem;
		display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
		margin: 0 auto;
		color: $color-primary-3;

		&:before{
			content: "";
			width: 24px;
			height: 24px;
			position: absolute;
			left: -30px;
			bottom: 14px;
			display: block;
			background: url("../images/icon/Pattern/Star.svg") no-repeat center/cover;
		}
	}
}

.master-content{
	width: 100%;
	height: 550px;
	display: flex;
  position: relative;
  overflow: hidden;

	>.slide2{
		width: 100%;
		height: 100%;
		padding-left: 2rem;
		display: flex;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 0 auto;
	}

}





//動畫
.in {
	animation: comein 1s 1;
	animation-fill-mode: both;
}

@keyframes comein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// * ==========================================================================
// * Index 內容
// * ==========================================================================
.main-content{
	width: 100%;
	display: flex;
}

//左邊區塊
.main-content-left{
	width: 330px;
}

.main-content-left-border{
	border-right: 1px solid $color-gray;
}

.main-content-left-text {
	color: $color-gray-2;
	font-weight: 400;
	font-size: 15px;
}

.text-date-title{
	@include roboto-txt;
}

.text-date-subtitle{
	font-weight: 400;
	font-size: 32px;

	>span{
		@include roboto-txt;

		&:last-child{
			font-weight: 200;
			font-size: 21px;
		}
	}
}

.text-video-title{
	font-weight: 400;
	font-size: 14px;
}

//右邊區塊
.main-content-right{
	width: calc(100% - 330px);
}